<h1 class="block-about-title">music-roungeについて</h1>

<p class="about-body">music-roungeはあなたの好きな曲、気に入った曲をレビュー、共有できるウェブアプリケーションです。<br/> ジャンル毎に分類して、レビューを検索・閲覧することもできます。<br/>
レビューの投稿は登録なしでもできますので、ぜひご覧になってください。<br/>
新規登録はメールアドレスとパスワードのみで登録できます。<br/>
まだ人の知らないあなただけの名曲や、みんなの知っている曲をあなたの想い出と一緒に投稿しませんか！？</p>